description-restaurant {
  .description-detail {
    h2 {
      padding: 0 0 6px 0;
      border-bottom: 1px solid rgba(35, 38, 49, 0.2);
      margin-bottom: 24px;
    }

    p {
      line-height: 2rem;
    }
  }
}
