.footer-restaurant {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 0 24px;
}

.footer-restaurant h2 {
  padding: 0 0 6px 0;
  border-bottom: 1px solid rgba(35, 38, 49, 0.2);
  margin-bottom: 24px;
}
